@import "tailwindcss";
@plugin "daisyui";
.nav-item:hover {
  text-shadow: 0 0 8px rgba(255,255,255,0.6);
}
/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Better glass effect */
body {
  background: radial-gradient(circle at top, #020617, #000);
}
body::before {
  content: "";
  position: fixed;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, rgba(59,130,246,0.2), transparent);
  pointer-events: none;
  transform: translate(-50%, -50%);
}

/* 
echo "# my-portfolio" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Rafiul-goni-rayhan/my-portfolio.git
git push -u origin main
*/
